<%= form_for(@article) do |f| %>
  <ul>
  <% @article.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.label :tag_list %><br />
    <%= f.text_field :tag_list %>
</p>
<p>
  <% if @article.image.exists? %>
    <%= image_tag @article.image.url %><br />
  <% end %>
  
  <label class="btn">
    Attach a new image
    <span style="display:none;">
      <%= f.file_field :image %>
    </span>
  </label>

    <%#= f.label :image, "Attach a New Image" %><br />
    <%#= f.file_field :image, class: "form-field btn" %>
</p>

<p>  
  <%= button_tag 'Submit' %>
</p>
<% end %>