<!DOCTYPE html>
<html>
  <head>
    <title>Blogger</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>Blogger</h1>
        <% if logged_in? %>
          <%= "Logged in as #{current_user.email}" %>
          <%= link_to "(logout)", logout_path, class: "btn" %>
        <% else %>
          <%= link_to login_path do %>
            <div class="btn"><span>Login</span></div>
          <% end %>
        <% end %>


    </header>
    <p class="flash"><%= flash.notice %></p>
    
    <div id="sidebar">
      <h3>Most Popular</h3>
      <ul>
          <li>Article 1</li>
          <li>Article 2</li>
          <li>Article 3</li>
      </ul>
      <h3>By Month</h3>
      <ul>
        <li>January</li>
        <li>February</li>
        <li>March</li>
      </ul>
    </div>
    <div id="content">
      <%= yield %>
    </div>
    <hr>
    <h6>
      
    </h6>
  </body>
</html>
