<!DOCTYPE html>
<html>
  <head>
    <title>Blogger</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <%= link_to root_path, class: "glowing-link" do %>
            <h1>Blogger</h1>
        <% end %>
        <div class="align-right">
          <% if logged_in? %>    
            <%= "Logged in as #{current_user.email}" %>
            <%= link_to "Logout", logout_path, class: "btn" %>
          <% else %>
            <%= link_to login_path, class: "btn" do %>
              Login
            <% end %>
          <% end %>
        </div>
      </nav>
    </header>
    <p class="flash"><%= flash.notice %></p> 
    <div class="container-row">
      <div id="sidebar">
        <h3>Most Popular</h3>
        <ul>
            <li><a href="" class="underlined-link">Article 1</a></li>
            <li><a href="" class="underlined-link">Article 2</a></li>
            <li><a href="" class="underlined-link">Article 3</a></li>
        </ul>
        <h3>By Month</h3>
        <ul>
          <li class="underlined-link">January</li>
          <li class="underlined-link">February</li>
          <li class="underlined-link">March</li>
        </ul>
      </div>
      <div id="content">
        <%= yield %>
      </div>
    </div>

    <footer>A footer</footer>
  </body>
</html>
